.gamecontainer {
    height: 100%;
    width: 100%;
    margin: 1em;
    display:flex;
    font-size:40px;
    font-family: "Verdana",Geneva, sans-serif;
    font-weight: bold;
    color: black;
}
.game {
    border-style: inset;
    border-width: 0.05em;
    border-spacing: 0px;
    border-color: #00023d;
    background-color: sandybrown;
    padding: 0.05em;
    margin:auto;
    height: 40vw;
    width: 40vw;

}

.field {
    display: inline-block; /* switch to none if candidates should show*/
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    background-color: beige;
}

.row1 .field{

}

.row2 {

}

.row3 {

}

.row4 {

}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.empty {
    background-color: beige;
}

.clear {
    clear: both;
}