.navbar {
    background-color: lightgrey;
    border: 2px solid;
    border-radius: 10px;

}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.box {
    background-color: #efecef;
    padding: 1em;

}

#img {
    display: block;
    margin: auto;
}

.btn-link{
    color: #e05435;
}
.btn-link:hover{
    color: #5CBBB7;
}
.card {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

a {
    color: #e05435;
}
a:hover{
    color: #5CBBB7;
}

h3 {
    color: #e05435;
}

h1 {
    text-align: center;
    color: #333333;
}
