<!-- Footer -->
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/footer.css")' />
<!--<div class="page-footer font-small teal pt-4">
    <div class ="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class ="font-weight-bold text-uppercase mt-3 mb-4">About</h5>
                <p> Developed by Anton Hummel &amp; Matthias Asche at the HTWG Konstanz for Web Technologies</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold">Contact us</h5>
                <p>You can contact us via our HTWG Email</p>
        </div>
     </div>
    </div>
</div>-->

    <!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5>About</h5>
                <p>Developed by Anton Hummel &amp; Matthias Asche at the HTWG Konstanz for Web Technologies</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
                <h5> Contact us</h5>
                <p>You can contact us via our HTWG Email</p>
            </div>
        </div>
    </div>
</footer>
