@import de.htwg.se.NineMensMorris.model.FieldStatus
@(controller:de.htwg.se.NineMensMorris.controller.controllerComponent.ControllerInterface)(implicit request: RequestHeader, flash: Flash)
@board= @{ controller.gameboardToString.replaceAll("[\\r\\n]","<br>").replaceAll(" ","&nbsp;&nbsp;") }
@currentPlayer= @{ controller.playerOnTurn }
@size = @{ controller.getVertexList.size }
@list = @{ controller.getVertexList }
@fieldStatus(field: Int) = @{
    controller.getField(field) match {
        case Some(value) =>
            if (value.fieldStatus == FieldStatus.White) "white"
            else if(value.fieldStatus == FieldStatus.Black) "black"
            else "empty"
    }
}

@main("Nine Mens Morris") {
    <status-panel :gameboard="gameboard" v-if="$root.gameRunning === true"></status-panel>
    <div v-else class="container">
        <div class="jumbotron header-jumbotron d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-4">Welcome to Nine Mens Morris!!</h1>
            <mill-button :text="'Start Game'"></mill-button>
        </div>
    </div>
}
<script>
    import MillButton from "../assets/components/MillButton";
    export default {
        components: {MillButton}
    }
</script>